<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container wide">
        <h1>รายชื่อผู้ใช้งานทั้งหมด</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.firstname %>
                                <%= user.lastname %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.age %>
                        </td>
                        <td>
                            <%= user.phone %>
                        </td>
                        <td>
                            <%= user.address %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <div style="text-align: center; margin-top: 20px;">
            <a href="/" class="link-btn">คลิกเพื่อเพิ่มผู้ใช้งานใหม่</a>
        </div>
    </div>
</body>

</html>